main
  display: flex
  flex-flow: column
  background: $bg

.container
  margin-top: 4%
  box-sizing: border-box
  // margin: 0 5%
  // padding: 0 10px 10px 10px
  display: flex
  flex-flow: wrap
  justify-content: space-between
  width: 100%
  // background: lighten($bg, 2%)
  &:first-child
    margin-top: 0

.test
  width: 1%
  height: 100%
  margin: auto 1%
  text-align: center

.news-card-item
  // float: left
  box-sizing: border-box
  z-index: 500
  // flex-grow: 1
  height: 15vw
  width: 30%
  position: relative
  img
    height: 100%
    top: 0
  .content
    box-sizing: border-box
    opacity: 0
    height: 100%
    width: 100%
    background: rgba(0, 0, 0, 1)
    position: absolute
    color: #fff
    padding: 3px 0
    transition: opacity .3s ease-in-out
    z-index: 400
  &:hover .content
    opacity: 0.8
    transition-delay: .5s
  p
    padding: 5px 10px
  h2
    font-size: 18px
    text-transform: uppercase
    box-sizing: border-box
    color: #fff
    background: orangered
    // bottom: 0
    bottom: 0
    position: absolute
    // height: 15%
    width: 100%
    margin: 0
    padding: 5px 10px
    transition: top .4s ease-out
    z-index: 500
  &:hover h2
    // top: 0
    transition-delay: .3s
  &:last-child




.section-title
  width: 100%
  display: block
  text-align: left
  font-weight: 700
  text-transform: uppercase
  margin: 10px 4%
  color: #fff
  font-family: 'Roboto', 'sans-serif'
